#primeiro_titulo{
    border: 5px solid green;
    margin: 30px;
    font-family: Arial;
    text-align: center;
    text-decoration: underline;
}
#segundo_titulo{
    border: 3px double red;/* duas bordas */
    margin-top: 50px;
    margin-right: 100px;
    margin-bottom: 50px;
    margin-left: 20px;
    font-family: Georgia;
    text-align: right;
    text-decoration: line-through;
}
#terceiro_titulo{
    border: 7px dotted blue;/* pontilhada */
    margin: 10px 20px 30px 40px;
    font-family: 'Courier';
    text-align: left;
    text-decoration-line: overline;

}
#quarto_titulo{
    border: 2px dashed lawngreen;/* tracinhos */
    text-align: justify;
}
#quinto_titulo{
    border-top: 5px solid orangered;
    border-left: 10px solid salmon;
    border-right: 5px solid aquamarine;
    border-bottom: 3px solid lightcoral;
    margin: 50px 100px;
    text-align: ;
}